/* 
    '*' - se refere a todo o documento sendo renderizado.  
    parte do codigo seguinte é chamado de reset CSS.
    É importante resetar  paddings e margins do body do css, 
    já que cada navegador os preenches com diferentes valores, 
    fazendo com que o site possa se contrastar em diferentes browsers
*/

@font-face {
    font-family: narcos-font;
    src: url(/assets/OPTIAkrogroteskBold-Cond.otf);
}

:root {
    --azul: rgba(45, 80, 250);
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box: seta o limite do elemento como a borda da caixa, impedindo que os elementos expandam esse limite */
}

/* Elementos base */

body {
    background: var(--preto);
    font-family: 'Roboto', serif;
    /* Na falta da fonte principal, ela será substituída pela outra fonte declarada posteriormente */
    color: #fff;
}

#filme-principal {
    background: url('/img/capa-narcos.jpg');
    box-shadow: inset 20px 20px 200px #000;

    height: 570px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 20px;
}

.container-header {
    position: fixed;
    width: 100%;
    top: 0;

    margin-top: 0px;
    height: 65px;

    display: flex;
    flex-direction: row; /* definido por padrão */
    align-items: center;
    justify-content: space-between;

    background-color: rgba(20, 20, 20, 0);
    transition: .4s ease all;

    z-index: 2;
}

.container-header .logo {
    color: var(--azul);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-right: 45px;
    margin-left: 50px;
}

.container-header .nav-two {
    margin-right: 50px;
}

.container-header .nav-two img {
    width: 31px;
    border-radius: 3px;
}


.container-header nav a {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    font-weight: 400;
    font-size: 15px;
    margin-right: 15px;
}

.container-header-bg-color {
    background-color: rgba(20, 20, 20, 1) !important;
}

.container-header .nav-one .no-selected:hover {
    opacity: 0.8;
}

#filme-principal .container {
    margin-left: 4%;
}

#filme-principal .titulo {
    font-size: 90px;
    font-family: narcos-font, serif;
    text-shadow: 4px 5px 5px #000;
}

#filme-principal .descricao {
    width: 60%;
    margin-bottom: 30px;
    font-size: 19px;
    text-shadow: 2px 2px 6px #000;
}


.botao-assistir {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    color: rgb(27, 27, 27);
    border-radius: 3px;

    padding: 12px 20px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
}

.botao-info {
    background-color: rgba(105, 101, 99, 0.8);
    border: none;
    color: #fff;

    padding: 12px 20px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    
    cursor: pointer;
    transition: .3s ease all;
}

.botao-assistir:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.botao-info:hover {
    background-color: rgba(105, 101, 99, 0.6);
}

.botao i {
    margin-right: 8px;
}

.espaco {
    margin-right: 13px;
}

#filme-principal .container{
    width: 50%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.selected {
    font-weight: 700 !important;
}

.carrossel-filmes .item img{
    border-radius: 3px;
}

.carrossel-filmes h3 {
    margin-left: 4%;
    margin-bottom: 15px;
}