@media screen and (max-width: 700px) {
    .container-header {
        display: flex;
        flex-direction: column;
        padding-bottom: 85px;
    }

    .container-header .nav-one a {
        padding-bottom: 20px;
    }

    .nav-one {
        display: flex;
        flex-direction: row;
    }
    
    .nav-one a {
        margin-left: 15px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }

    .botao-assistir {
        margin-bottom: 20px;
    }

    .titulo {
        font-size: 70px !important;
    }

    .descricao {
        width: 100% !important;
    }

}

@media screen and (max-width: 850px) {
    .nav-two {
        display:none;
    }

    .botoes {
        display: flex;
        width: 100%;
    }

}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}